# Ignore IDE config files
.vscode/
.idea/

# Ignore dependencies
vendor/
node_modules/

# Ignore Docker data
db_data/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp
.DS_Store
Thumbs.db

# Ignore local configuration files
config/local.php
.env
