services:
  web:
    image: php:8.4-apache
    container_name: php-apache-monster-maker
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www
    ports:
      - "8000:80"
    depends_on:
      - db
      - pdf-renderer
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DATABASE=monster_maker
      - PDF_RENDERER_URL=http://pdf-renderer:3000
    networks:
      - app-network

  pdf-renderer:
    container_name: puppeteer-pdf-renderer
    build:
      context: .
      dockerfile: Dockerfile.puppeteer
    ports:
      - "3000:3000"
    networks:
      - app-network
    restart: unless-stopped
    environment:
      - NODE_ENV=production

  db:
    build:
      context: .
      dockerfile: docker/Dockerfile.mysql
    container_name: mysql-db-monster-maker
    restart: always
    environment:
      MYSQL_DATABASE: monster_maker
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-monster-maker
    depends_on:
      - db
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
      UPLOAD_LIMIT: 64M 
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
